<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <!-- about page
     -->
    <meta charset="utf-8">
    <meta lang="en">
    <meta name="viewport" content="widtgh=device-width, initial-scale=1">

    <title>About</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="stylesheets/master.css">
    <link rel="stylesheet" href="stylesheets/landing.css">

  </head>

  <body>

    <header>

      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">FitTogether</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li><a href="/home">Home</a></li>
              <% if (user) { %>
                <li><a href="/logout">My Home</a></li>
              <% } %>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <% if (user) { %>
                <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
              <% } else { %>
                <li><a href="/register"><span class="glyphicon glyphicon-plus"></span> Register</a></li>
                <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
              <% }%>
            </ul>
          </div>
        </div>
      </nav>

    </header>

    <div class="container">

      <section>
        <h3>About Us</h3>
        <p>
          Fit together is a concept devised by Eoghan Hogan who is a fitness fan and also a web designer.<br>
          Eoghan was looking for some local fitness groups or clubs to join, to get outside and a change away from the gym.   However this proved to be harder to do than first imagined - most clubs he heard about were through word of mouth and there was very little, if any, info online.  As most of these groups are informal and run by the participants on a voluntary basis, there was nowhere to get information from other than from members directly or indirectly … this has now changed!
        </p>

        <p>
          Fit together is a concept devised by Eoghan Hogan who is a fitness fan and also a web designer.  Eoghan was looking for some local fitness groups or clubs to join,  to get outside and a change away from the gym.   However this proved to be harder to do than first imagined - most clubs he heard about were through word of mouth and there was very little, if any, info online.  As most of these groups are informal and run by the participants on a voluntary basis, there was nowhere to get information from other than from members directly or indirectly … this has now changed!
        </p>

        <p>
          Fit Together has been devised to make it simple, quick and easy for groups to register their location, days of activity and meeting times - once registered your group is immediately viewable for all the world to see.  As its a free service there is no barrier to joining no matter how small your group is, and how little members it currently has.   The informal nature of the site means that there is no admin required by the group and they can only reap rewards by increasing member number and thus increasing the survival of the club or group.
        </p>

        <p>
          For those seeking a new activity, what makes Fit Together so easy to use is the geo-location interface - every group is pinpointed on the map making it easy to find those groups in your area which you can join in with.  Once registered you will have access to all the information relating to the groups in either your narrow or wider area.  Select the groups which interest you and add them to your profile and you will always have quick and easy access to the timetables of your chosen activity.
        </p>

        <p>
          To date we have more than 150 clubs and groups register with Fit Together , and it is growing week on week as more and more interest is building, so get your fitness gear on, join up today and lets get Fit Together!!

        </p>

      </section>

      <section>

        <h3>Forget Gyms</h3>
        <p>
          Leave the stuffy and dark gym behind and do your workout in a fresh and bright setting – The Great Outdoors!<br>
          Enjoy all the benefits of an outdoor workout which include fresh air, convenience, less strenuous and stress-busting too. <br>
          Cities and suburbs offer a multitude of workout venues, from the seaside to parks, <br>
          sports fields to public courts and outdoor gyms and jogging trails – all these areas provide a range of opportunities <br>
          to diversify your workout and explore new training places.<br>
          So sign up today and meet a new training group or make it easier to hook up with your current group and reap the benefits of a whole body and mind workout.<br>
        </p>

        <h3>For Everybody and Anybody</h3>
        <p>
          With our service anyone can start a group activity for anyone on the site to join.<br>
        </p>

      </section>

    </div>

    <footer>
      <div class="footer">
        <p>FitTogether 2018 Created By Eoghan Hogan | Check it out on <span> <a  class="otherLink" href="https://gitlab.com/Lavazzafueled/Fit-Together">Git Lab</a> </span> </p>
      </div>
    </footer>

    <script type="text/javascript" src="scripts/master.js"></script>

  </body>
</html>
