<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>404</title>
    <link rel="stylesheet" href="stylesheets/master.css" type="text/css">
  </head>
  <body>

    <h1>Woah!</h1>

    <h3>Hey there. looks like you've wandered off the beaten track.</h3>
    <h3>But im sorry to say that there is no page on at this url</h3>
    <h3>click below to get back to normality!</h3>
    <a href="/">Normality</a>

  </body>
</html>
